Pods/
fastlane/screenshots/
fastlane/report.xml
TimeCurl.xcodeproj/project.xcworkspace/xcuserdata/
TimeCurl.xcodeproj/xcuserdata/
TimeCurl.xcworkspace/
*.dSYM.zip
*.ipa
*.mobileprovision
**/*.xccheckout
