<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeCurl AutoScreenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>TimeCurl Bots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>TimeCurl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TimeWarp AppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TimeWarp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EF4D4431BCD1C1700B5CAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EF4D4591BCD4F4400B5CAD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4323D456176EF79500A083AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4323D47A176EF79500A083AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4345119E1D95D38A001B1A85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
